/*
FONT WEIGHTS:
Thin:       100
Extra-Light:200
Light:      300
Regular:    400
Medium:     500
Semi-Bold:  600
Bold:       700
Extra-Bold: 800
Black:      900
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 25px;
    width: max-content;
    background: #FFFFFF;
    border: none;
}

#logo {
    width: max-content;
    padding: 20px 0 20px 50px;

    h1 {
        font-family: 'Meddon', cursive;
        font-size: 35px;
        color: #053625;
    }

    span {
        font-weight: 300;
        font-size: 12px;
        letter-spacing: 0.45em;
        color: #DD9D02;
    }

}

#mobile-menu-icon {
    display: none;
    padding: 28px 30px;

    svg { height: 30px; }

}

.alert {
    background-color: #111111;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    padding: 6px 20px 4px;
    position: fixed;
    top: 0;
    width: 100%;

    span {
        grid-column: 2 / 3;
        font-weight: 500;
        text-transform: uppercase;
    }

    svg {
        height: 20px;
        fill: #FFFFFF;
    }
}

nav {
    position: fixed;
    top: 29px;
    width: 100%;

    & > .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        background-color: rgba(255,255,255,0.2);
        border-bottom: 0.25px solid #E0DFE4;
        transition: background-color ease-in-out 0.4s;

        &:hover {
            background-color: #FFF;
        }

    }

    #main-nav {
        display: grid;
        grid-template-columns: repeat(8, auto);
        align-content: center;

        & > li { padding: 40px 25px; }
    
        li {
            cursor: pointer;
            transition: color ease-in-out 0.2s,
                        fill ease-in-out 0.2s;

            & > * { vertical-align: middle; }

            &:hover {
                color: #3E9057;
                fill: #3E9057;
            }

            svg { height: 20px; }

        }

    }

    .mega-menu {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        background-color: #053625;
        padding: 50px;
        color: #E0DFE4;
        transition: visibility 0s,
                    opacity ease-in-out 0.6s;

        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-column-gap: 50px;
            max-width: 900px;
            margin: 0 auto;
            margin-top: 10px;
            transition: margin-top ease-in-out 0.4s;
        }      

        &.show {
            visibility: visible;
            opacity: 1;

            .container { margin-top: 0; }

        }

        span.subtitle {
            font-size: 20px;
            font-weight: 500;
        }

        li {
            padding-bottom: 10px;

            &:nth-child(2) { margin-top: 15px; }

            &.promotion {
                background-image: url('../img/promotion.jpg');
                background-size: cover;
                background-position: center;
                padding: 20px;
                margin-top: 15px;
                height: 250px;
                position: relative;
                display: grid;
                align-content: center;
                justify-content: center;
                text-align: center;

                &:before {
                    content: '';
                    height: 100%;
                    width: 100%;
                    background-color: rgba(0,0,0,0.3);
                    top: 0;
                    left: 0;
                    position: absolute;
                }

                span {
                    display: block;
                    color: #FFFFFF;
                    position: relative;
                    z-index: 1;
                }

                .promotion-title {
                    font-size: 20px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                .promotion-desc {
                    margin-bottom: 30px;
                    font-weight: 500;
                }

                .promotion-btn {
                    position: relative;
                    z-index: 1;
                    border: none;
                }

            }

        }

    }

    .dropdown {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 100px;
        background-color: #053625;
        color: #E0DFE4;
        padding: 30px;
        transition: visibility 0s,
                    opacity ease-in-out 0.6s;

        li {
            padding-bottom: 10px;
        }

        &.show {
            visibility: visible;
            opacity: 1;
        }

    }

}

#slider {
    height: 100vh;
    position: relative;
    z-index: -100;

    .slide {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;

        &:before {
            content: '';
            height: 100%;
            width: 100%;
            background: rgba(255,255,255,0.1);
            mix-blend-mode: screen;
            top: 0;
            left: 0;
            position: absolute;
        }

    }

    #slide1 { background-image: url('./img/slider1.jpg'); }
    #slide2 { background-image: url('./img/slider2.jpg'); }
    #slide3 { background-image: url('./img/slider3.jpg'); }

    .controls {
        position: absolute;
        bottom: 20px;
        left: 20px;

        svg {
            height: 20px;
            stroke: white;
            stroke-width: 10;
            fill: transparent;
            margin-right: 7px;

            &.active { fill: white; }

        }

    }

}

@media screen and (max-width: 1020px) {
    
    #mobile-menu-icon {
        display: block;
    }

    nav {

        #main-nav {
            position: absolute;
            top: 0;
            left: -100%;
            grid-template-columns: repeat(2, auto);
            background-color: #053625;
            color: #E0DFE4;
            padding: 50px 200px 50px 50px;
            height: 100vh;
            align-content: flex-start;
            overflow: auto;
            transition: left ease-in-out 0.8s;

            &.show {
                left: 0;
            }

            li {
                padding: 15px 0;
                grid-column: 1 / 3;

                svg {
                    fill: #E0DFE4;
                    transition: fill ease-in-out 0.2s;
                }

                &:hover svg { fill: #3E9057; }

                &#search-icon { grid-column: 1 / 2; }

                &#cart-icon { grid-column: 2 / 3; }

                &:first-child { padding-bottom: 0; }

            }

            .mega-menu {
                position: inherit;
                padding: 0;
                padding-left: 50px;
                height: 0;

                * { height: 0; }

                .container {
                    grid-template-columns: 1fr;
                    width: 200px;
                }

                &.show {
                    height: initial;

                    * { height: initial; }

                    ul {
                        padding-top: 30px;
                    }
                
                }

            }

            .dropdown {
                position: inherit;
                padding: 30px 0 0 50px;
                height: 0;

                * { height: 0; }

                &.show {
                    height: initial;

                    * { height: initial; }

                }

            }

        }

    }

}